<div class="container" style="display:flex;flex-direction:row;flex:0 0 100%">
  <div class="trade-input" style="width:30%; margin-top:20px">
    <mat-card>

      <!--<div class="inputvals" style="display:flex;flex-direction:column;margin-top:20px">
      <h2 style="margin-left:20px">Strangles (short)</h2>
      <div style="display:flex;justify-content:space-around">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Base Instrument</mat-label>
            <mat-select [(ngModel)]="selectedInstrument.instrumentToken" name="inst" (selectionChange)="onSelectInstrument($event)">
              <mat-option *ngFor="let inst of instrument" [value]="inst.instrumentToken">
                {{inst.tradingSymbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Expiry</mat-label>
            <mat-select (selectionChange)="onSelectExpiry($event)">
              <mat-option *ngFor="let exp of expiry" [value]="exp">
                {{exp}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>-->
      <!--<div style="display:none;justify-content:space-around">
        <mat-form-field appearance="fill">
          <mat-label>Call</mat-label>
          <mat-select (selectionChange)="onSelectCall($event)">
            <mat-option *ngFor="let c of call" [value]="c.tradingSymbol">
              {{c.strike}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p><b>Call:&nbsp;</b>{{selectedCallValue}}</p>

        <mat-form-field appearance="fill">
          <mat-label>Put</mat-label>
          <mat-select (selectionChange)="onSelectPut($event)">
            <mat-option *ngFor="let p of put" [value]="p.tradingSymbol">
              {{p.strike}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p><b>Put:&nbsp;</b>{{selectedPutValue}}</p>
      </div>-->
      <!--</div>-->
      <div class="algorithms" style="display:flex;flex-direction:column">
        <h2 style="margin-left:20px">Algorithms</h2>
        <mat-accordion class="example-headers-align">

          <mat-expansion-panel [dataSource]="_ras" *ngIf="filterbyname('17')"
                               (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Momentum Trade - Options
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!--<mat-grid-list cols="2" rowHeight="4:1">-->
            <form [formGroup]="momentumTradeOptionsForm" (ngSubmit)="executeAlgo()">
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill">
                  <mat-label>Base Instrument</mat-label>
                  <mat-select [(ngModel)]="selectedInstrument.instrumentToken" name="inst" (selectionChange)="onSelectInstrument($event, 'momentumvolume')">
                    <mat-option *ngFor="let inst of instrument" [value]="inst.instrumentToken">
                      {{inst.tradingSymbol}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Expiry</mat-label>
                  <mat-select (selectionChange)="onSelectExpiry($event, 'momentumvolume')">
                    <mat-option *ngFor="let exp of expiry" [value]="exp">
                      {{exp}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Candle Time (in mins)" formControlName="ctf"></mat-form-field>
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Quantity (in lots)" formControlName="quantity"></mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-checkbox matInput (change)="onPSChange($event)" formControlName="ps">Postion Sizing</mat-checkbox>
                <mat-form-field appearance="fill">
                  <input type="number" matInput placeholder="Max Loss Per Trade" formControlName="mlpt">
                </mat-form-field>
              </div>

              <!--</mat-grid-list>-->
              <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary">Trade</button>
              </div>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel [dataSource]="_ras" *ngIf="filterbyname('15')"
                               (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                RSI Cross - Options
              </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="rsiCrossOptionsForm" (ngSubmit)="executeRsiCross()">
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill" >
                  <mat-label>Base Instrument</mat-label>
                  <mat-select [(ngModel)]="selectedInstrument.instrumentToken" name="inst" (selectionChange)="onSelectInstrument($event, 'rsicross')">
                    <mat-option *ngFor="let inst of instrument" [value]="inst.instrumentToken">
                      {{inst.tradingSymbol}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Expiry</mat-label>
                  <mat-select (selectionChange)="onSelectExpiry($event, 'rsicross')">
                    <mat-option *ngFor="let exp of expiry" [value]="exp">
                      {{exp}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Candle Time (in mins)" formControlName="ctf"></mat-form-field>
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Quantity (in lots)" formControlName="quantity"></mat-form-field>
              </div>
              <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary">Trade</button>
              </div>
            </form>

          </mat-expansion-panel>

          <mat-expansion-panel [dataSource]="_ras" *ngIf="filterbyname('14')"
                               (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Expiry Strangle
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="expiryTradeOptionsForm" (ngSubmit)="executeExpiryTrade()">
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill">
                  <mat-label>Base Instrument</mat-label>
                  <mat-select [(ngModel)]="selectedInstrument.instrumentToken" name="inst" (selectionChange)="onSelectInstrument($event, 'expirystrangle')">
                    <mat-option *ngFor="let inst of instrument" [value]="inst.instrumentToken">
                      {{inst.tradingSymbol}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Expiry</mat-label>
                  <mat-select (selectionChange)="onSelectExpiry($event, 'expirystrangle')">
                    <mat-option *ngFor="let exp of expiry" [value]="exp">
                      {{exp}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Intial Quantity (lots)" formControlName="iqty"></mat-form-field>
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Step Qty  (lots)" formControlName="sqty"></mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Max Quantity  (lots)" formControlName="mqty"></mat-form-field>
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Stop Loss (points)" formControlName="sl"></mat-form-field>
              </div>
              <div style="display:flex;justify-content:space-around">
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Min. Premium To Trade" formControlName="mptt"></mat-form-field>
                <mat-form-field appearance="fill"><input type="number" matInput placeholder="Min. Distance From Base" formControlName="mdfbi"></mat-form-field>
              </div>
              <!--</mat-grid-list>-->
              <div class="example-button-row">
                <button type="submit" mat-raised-button color="primary">Trade</button>
              </div>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Strangle - Delta Neutral
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value1"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value2"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value3"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value4"></mat-form-field></mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Strangle - Constant Width
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value1"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value2"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value3"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value4"></mat-form-field></mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Momentum Trade - Volume
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value1"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value2"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value3"></mat-form-field></mat-grid-tile>
              <mat-grid-tile><mat-form-field><input matInput placeholder="Value4"></mat-form-field></mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <button style="margin-top:30px" (click)="getLog()" mat-raised-button color="primary">Buy/Sell</button>

      <!--<button style="margin-top:30px" (click)="startdsservice()" mat-raised-button [color]="gethealthstatus(-99) ? 'primary':'warn'">Ticker Service</button>-->
      <button style="margin-top:30px" (click)="startdsservice()" mat-raised-button [ngClass]="gethealthstatus(-99)?'button-fab-green':'button-fab-red'">Ticker Service</button>
    </mat-card>
  </div>

  <div class="trade-view" style="width:70%;margin-top:20px">
    <h2 style="margin-left:20px">Active Algorithms</h2>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel (opened)="panelOpenState = true" *ngFor="let activeAlgo of activeAlgos" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <div class="flex-exp-container">
              <p>{{activeAlgo.an}} <span matBadge={{activeAlgo.orders.length}} matBadgeSize="1px" matBadgeColor="accent" matBadgeOverlap="true"> </span></p>

              <div class="ast"> Base Instrument: {{activeAlgo.binstrument}}</div>
              <div class="ast">  Lots: {{activeAlgo.lotsize}}</div>
              <div class="ast"> Candle Time: {{activeAlgo.mins}} mins</div>
              <div class="ast"> Expiry: {{activeAlgo.expiry}}</div>
              <div class="ast"> Algo Start : {{activeAlgo.algodate}}</div>

              <div class="warn-flex-container">
                <div class="warn-button-container" *ngIf="!gethealthstatus(activeAlgo.ains)">
                  <button mat-mini-fab class="button-fab-red" mat-mini-fab-size="1px" style="width:20px;height:20px;line-height:16px" aria-label="primary button">
                    <!--<mat-icon>filter_list</mat-icon>-->
                  </button>
                </div>
                <div class="warn-button-container" *ngIf="gethealthstatus(activeAlgo.ains)">
                  <button mat-mini-fab class="button-fab-green" mat-mini-fab-size="1px" style="width:20px;height:20px;line-height:16px" aria-label="warn button">
                  </button>
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-tab-group animationDuration="0ms" selectedTabChange="getExchangeData()">
            <mat-tab label="Orders">
              <mat-table [dataSource]="activeAlgo.orders" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="orderTime">
                  <mat-header-cell *matHeaderCellDef> Order Time </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.ordertime.seconds * 1000| date:'hh:mm:ss a' :'UTC'}} </mat-cell>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="tradingSymbol">
                  <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.tradingsymbol}} </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                </ng-container>

                <!-- TransactionType Column -->
                <ng-container matColumnDef="transactionType">
                  <mat-header-cell *matHeaderCellDef> TransactionType </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.transactiontype}} </mat-cell>
                </ng-container>

                <!-- TransactionType Column -->
                <ng-container matColumnDef="orderType">
                  <mat-header-cell *matHeaderCellDef> Order Type </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.ordertype}} </mat-cell>
                </ng-container>

                <!-- Algo name Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Algorithm </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </mat-tab>
            <mat-tab label="Log">
              <!--Logger-->
              <div *ngIf="logs !== undefined">
                <mat-card [dataSource]="logs" *ngFor="let log of filterLogsOfType(activeAlgo)">
                  <div class="scrollable">
                    {{ log.logTime.seconds * 1000 |  date:'hh:mm a':'UTC' }} : {{ log.message }}
                    <!--{{ log.messengerMethod }} @-->

                  </div>
                </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
