<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="igniteConfiguration" type="Apache.Ignite.Core.IgniteConfigurationSection, Apache.Ignite.Core" />
  </configSections>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

  <!--<system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />-->
  <!--
  </system.webServer>-->
  <system.net>
    <mailSettings>
      <smtp from="prashantholahal@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 enableSsl="true"
                 userName="prashantholahal@gmail.com"
                 password="Options123Trading"
                 defaultCredentials="false" />
        <!--This must be false on Gmail-->
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-makemydayservices-20130707144821;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-makemydayservices-20130707144821.mdf"/>-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=NSEData;User Id=zm;Password=zm;Persist Security Info=True" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="PullMarketData" value="1" />
	  <add key="appsecret" value="5nKcIuEijmJJ4qz6h23visXI1m5hUHbl" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection1" />
  </appSettings>
  <!--<igniteConfiguration>
    <clientConnectorConfiguration host='127.0.0.1' port='10900' portRange='50' maxOpenCursorsPerConnection='50' />
  </igniteConfiguration>-->
  <!--<igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection"
                      localhost="127.0.0.1" peerAssemblyLoadingMode="CurrentAppDomain">
    <atomicConfiguration atomicSequenceReserveSize="10" />

    <discoverySpi type="TcpDiscoverySpi">
      <ipFinder type="TcpDiscoveryMulticastIpFinder">
        <endpoints>
          <string>127.0.0.1:47500..47502</string>
        </endpoints>
      </ipFinder>
    </discoverySpi>
  </igniteConfiguration>-->

  <!--<igniteConfiguration xmlns="http://ignite.apache.org/schema/dotnet/IgniteConfigurationSection" localhost="127.0.0.1" peerAssemblyLoadingMode="CurrentAppDomain" gridName="DSGridExpiry">
    <discoverySpi type="TcpDiscoverySpi">
      <ipFinder type="TcpDiscoveryStaticIpFinder">
        <endpoints>
          <string>127.0.0.1:47500..47509</string>
        </endpoints>
      </ipFinder>
    </discoverySpi>
    <dataStorageConfiguration >
      --><!--Enable persistence for all caches by default.--><!--
      <defaultDataRegionConfiguration name="defaultRegion" persistenceEnabled="false" />

      --><!--Define custom region without persistence.--><!--
      <dataRegionConfigurations>
        <dataRegionConfiguration name="inMemoryRegion" />
      </dataRegionConfigurations>
    </dataStorageConfiguration>
    <cacheConfiguration>

      --><!--Default region is persistent.--><!--
      <cacheConfiguration name="persistentCache" />

      --><!--Custom cache without persistence.--><!--
      <cacheConfiguration dataRegionName="inMemoryRegion" name="inMemoryOnlyCache" />

    </cacheConfiguration>

    --><!--<cacheConfiguration>
      <cacheConfiguration cacheMode="Replicated" readThrough="true" writeThrough="true" />
      <cacheConfiguration name="secondCache" />
    </cacheConfiguration>--><!--

    <includedEventTypes>
      <int>42</int>
      <int>TaskFailed</int>
      <int>JobFinished</int>
    </includedEventTypes>

    <userAttributes>
      <pair key="DSNode" value="true" />
    </userAttributes>

    <JvmOptions>
      <string>-Xms8g</string>
      <string>-Xmx12g</string>
    </JvmOptions>

  </igniteConfiguration>-->
</configuration>