<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!strangles"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="strangles">
  <thead>
    <tr>
      <th>Option</th>
      <th>Expiry(C)</th>
      <th>Lower Limit</th>
      <th>Upper Limit</th>
      <th>Stop Loss</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let strangle of strangles">
      <td>{{ strangle.peSymbol }}</td>
      <td>{{ strangle.pelowerThreshold }}</td>
      <td>{{ strangle.peUpperThreshold }}</td>
      <td>{{ strangle.stopLossPoints }}</td>
    </tr>
  </tbody>
</table>
