<h3>ModalLogin</h3>
@inject NavigationManager NavigationManager

<a href="www.google.com">zerodha</a>

@code {

    //[Parameter] public int EmployeeId { get; set; }

    protected override void OnInitialized()
    {
        // get employee with {EmployeeId} from DB
        


        base.OnInitialized();
    }
}